name: Sentinel Test
on: [pull_request, workflow_dispatch]

permissions:
  pull-requests: write
  contents: read

jobs:
  test-sentinel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Run Sentinel
        uses: HarshBasrani/sentinel-action@v0.3.1  # <--- Update this
        with:
          tsconfig_path: 'tsconfig.json'
          source_globs: 'src/**/*.{ts,tsx,js,jsx}'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # --- NEW INPUTS ---
          dashboard_url: ${{ secrets.SENTINEL_URL }}
          project_token: ${{ secrets.SENTINEL_TOKEN }}
